body {
	background-color: #fff;
	margin: 0
}

h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0px
}

p {
	line-height: 1.5
}

/* Header */
header {
	background: #fbfaf4;
	background: -webkit-gradient(linear, left bottom, left top, from(#e3dfde), to(#fbfaf4));
	background: -moz-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: -o-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: -ms-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	-pie-background: linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	border-bottom: solid 1px #e3dfde;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 1px 5px #aaaaaa;
	box-shadow: 0 1px 5px #aaaaaa;
	padding: 5px;
	behavior: url(PIE,htc);
}

header h1 {
	font-family: 'Chango', cursive;
	font-size: 24px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

header h1 a {
	text-decoration: none;
	color: #000000;
}

header h1 a:hover {
	color: #000000;
}

header h1 img {
	vertical-align: -10px;
	margin-right: 5px;
}



/* Footer */
footer	{
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3dfde), to(#fbfaf4));
	background: -moz-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -o-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -ms-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-pie-background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-webkit-box-shadow: 0 1px 5px #aaaaaa;
	box-shadow: 0 -1px 5px #aaaaaa;
	border-top: 1px solid #e3dfde;
	text-align: center;
	behavior: url(PIE,htc);
}

/* Link */
a {
	color: #b77d3c;
}

a:hover	{
	color: #ff8800;
}

a img	{
	border: none;
}

/* Navigation */

nav ul {
	float: right;
	margin: 0 20px;
	padding: 0;
	list-style: none;
}

nav li	{
	float: left;
	font-size: 20px;
	height: 30px;
	width: 120px;
	background: #ccc;
	padding: 5px 0 6px;
	margin: 0;
	border-bottom: 1px solid #f4f3f1;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3dfde), to(#fbfaf4));
	background: -moz-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -o-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -ms-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-pie-background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(PIE.htc);
}

nav li a {
	display: block;
	position: relative;
	padding-left: 1px;
	text-decoration: none;
	line-height: 31px;
	text-align: center;
	color: #999;
	text-shadow: 0px 1px 0px #fafafa;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfaf4), to(#ece8e6));
	background: -moz-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: -o-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: -ms-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: linear-gradient(top,  #fbfaf4,  #ece8e6);
	-pie-background: linear-gradient(top,  #fbfaf4,  #ece8e6);
	border: 1px solid #dcd9d8;
	border-bottom: 1px solid #c1c1bd;
	border-right: none;
	-webkit-box-shadow:  0 1px 1px #cac5c0;
	-moz-box-shadow:  0 1px 1px #cac5c0;
	box-shadow:  0 1px 1px #cac5c0;
	behavior: url(PIE.htc);
}

nav li:first-child {
	padding-left: 5px;
}

nav li, nav li a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: url(PIE.htc);
}

nav li:last-child {
	padding-right: 5px;
}

nav li:last-child a {
	border-right: 1px solid #dcd9d8;
}

nav li:first-child, nav li:first-child a {
	-webkit-border-radius: 5px 0 0 5px; 
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	behavior: url(PIE,htc);
}	

nav li:last-child, nav li:last-child a {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	behavior: url(PIE,htc);
}


nav a:hover, nav a:active, nav a.on, nav a.current{
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-shadow: #a6ff00 0 0 5px;
	background: #e5e4e0;
	-pie-background: #e5e4e0;
	border: 1px solid #b2b2b1;
	border-bottom: 1px solid #dbd9d7;
	border-right: none;
	box-shadow: 0 0 5px #cac8c5 inset;
	behavior: url(PIE,htc);
}

/* Works */
#works h1 {
	clear: both;
}

#works ul {
	list-style-type: none;
	width: 700px;
	height: 130px;
	display: -moz-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	margin-bottom: 30px;
	behavior: url(PIE,htc);
}

#works ul li a {
	text-align: center;
	color: #333;
	margin: 30px;
	border-radius: 5px;
	width: 70px;
	height: 70px;
	line-heigth: 100px;
	font-size: 14px;
	display: block;
	background-size: 100%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	behavior: url(PIE,htc);
}

#works ul li a:hover {
	width: 120px;
	height: 120px;
	line-height: 120px;
	font-size: 24px;
}
	
.red {
	background-image: url(images/red.jpg);
	border-right: 7px;
	border-bottom: 7px;
	-webkit-box-shadow: 2px 2px 3px #000000;
	box-shadow: 2px 2px 3px #000000;
	behavior: url(PIE,htc);
}

.green {
	background-image: url(images/green.jpg);
	border-right: 7px;
	border-bottom: 7px;
	-webkit-box-shadow: 2px 2px 3px #000000;
	box-shadow: 2px 2px 3px #000000;
	behavior: url(PIE,htc);
}

.blue {
	background-image: url(images/blue.jpg);
	border-right: 7px;
	border-bottom: 7px;
	-webkit-box-shadow: 0 2px 3px #000000;
	box-shadow: 0 2px 3px #000000;
	behavior: url(PIE,htc);
}

.black {
	background-image: url(images/black.jpg);
	border-right: 7px;
	border-bottom: 7px;
	-webkit-box-shadow: -2px 2px 3px #000000;
	box-shadow: -2px 2px 3px #000000;
	behavior: url(PIE,htc);
}

.purple {
	background-image: url(images/purple.jpg);
	border-right: 7px;
	border-bottom: 7px;
	-webkit-box-shadow: -2px 2px 3px #000000;
	box-shadow: -2px 2px 3px #000000;
	behavior: url(PIE,htc);
}

#shelf1 {
	-webkit-transform: perspective(500px) translateZ(40px) rotateX(40deg);
	transform: perspective(500px) translateZ(40px) rotateX(40deg);
	border-bottom: solid 8px #aaaaaa;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(bottom,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	behavior: url(PIE,htc);
}

#shelf2 {
	-webkit-transform: perspective(500px) translateZ(40px) rotateX(40deg);
	transform: perspective(500px) translateZ(40px) rotateX(40deg);
	border-bottom: solid 8px #919191;
	-webkit-box-shadow: 0 1px 7px #aaaaaa;
	box-shadow: 0 1px 7px #aaaaaa;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgb(222, 222, 222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(156, 156, 156, 1) 0%, rgba(222, 222, 222, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,138,138,1)), color-stop(100%,rgba(222, 222, 222, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(156, 156, 156, 1) 0%,rgba(222, 222, 222, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(156, 156, 156, 1) 0%,rgba(222, 222, 222, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(156, 156, 156, 1) 0%,rgba(222, 222, 222, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(156, 156, 156, 1) 0%,rgba(222, 222, 222, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='9c9c9c', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
	behavior: url(PIE,htc);
}

#shelf3 {
	-webkit-transform: perspective(500px) translateZ(40px) rotateX(40deg);
	transform: perspective(500px) translateZ(40px) rotateX(40deg);
	border-bottom: solid 8px #787878;
	-webkit-box-shadow: 0 1px 7px #aaaaaa;
	box-shadow: 0 1px 7px #aaaaaa;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(138, 138, 138, 1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,138,138,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(138, 138, 138, 1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(138, 138, 138, 1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(138, 138, 138, 1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(138, 138, 138, 1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='8a8a8a', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	behavior: url(PIE,htc);
}

/* Top */
#topbody section {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

/* Contact */
#contactbody article {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:50px;
	padding: 0 40px;
}

#contactbody article h1 {
	margin-bottom: 40px;
}

#contactbody form {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #e3dfde;
	border-bottom: 8px solid #aaa;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left bottom, left top, from(#e3dfde), to(#fbfaf4));
	background: -moz-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: -o-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: -ms-linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	background: linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	-pie-background: linear-gradient(bottom,  #e3dfde,  #fbfaf4);
	behavior: url(PIE.htc);
}
	
table {
	margin-left: auto;
	margin-right: auto;
}

table td{
	padding-bottom: 15px;
	font-size: 25px;
}

label {
	padding-right: 15px;
	color: #fff;
	text-shadow: #a6ff00 0 0 5px;
}

input, textarea	 {
	font-size: 20px;
	padding: 5px;
	border-bottom: 1px solid #f4f3f1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 2px #fff;
	-moz-box-shadow: 0 2px #fff;
	-webkit-box-shadow: 0 2px #fff;
	box-shadow: 0 2px 0 #fff;
	background: #ececec;
	background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#fff));
	background: -moz-linear-gradient(top, #ececec, #fff);
	background: -o-linear-gradient(top, #ececec, #fff);
	background: -ms-linear-gradient(top, #ececec, #fff);
	background: linear-gradient(top, #ececec, #fff);
	behavior: url(PIE.htc);
}

input {
	width: 300px;
}

textarea {
	width: 500px;
	height: 150px
}

#submit {
	display: block;
	position: relative;
	font-size: 14px;
	height: 40px;
	width: 100px;
	margin-top: 20px;
	line-height: 20px;
	text-align: center;
	border: solid 1px #cfcfcf;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 1px 0 #e9e8e8 inset;
	-webkit-box-shadow: 0 1px 0 #e9e8e8 inset;
	box-shadow: 0 1px 0 #e9e8e8 inset;
	behavior: url(PIE.htc);

}

#submit:hover {
	border: 1px solid #bdbdbd;
	border-bottom: 1px solid #a8a8a8;
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(196,196,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(196,196,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 1px 0 #f7f7f7 inset;
	-webkit-box-shadow: 0 1px 0 #f7f7f7 inset;
	box-shadow: 0 1px 0 #f7f7f7 inset;
	bahavior: url(PIE.htc);
}
		
/* Maintenance */
#maintenancebody article {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	margin-bottom:30px;
	padding: 30px;
	text-align: center;
}

#back {
	list-style: none;
	float: right;
	font-size: 20px;
	height: 30px;
	width: 120px;
	background: #ccc;
	padding: 5px 5px 6px;
	margin: 0 20px;
	border-bottom: 1px solid #f4f3f1;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3dfde), to(#fbfaf4));
	background: -moz-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -o-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: -ms-linear-gradient(top,  #e3dfde,  #fbfaf4);
	background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-pie-background: linear-gradient(top,  #e3dfde,  #fbfaf4);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(PIE.htc);
}

#back a {
	display: block;
	position: relative;
	padding-left: 1px;
	text-decoration: none;
	line-height: 31px;
	text-align: center;
	color: #999;
	text-shadow: 0px 1px 0px #fafafa;
	background: #fbfaf4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfaf4), to(#ece8e6));
	background: -moz-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: -o-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: -ms-linear-gradient(top,  #fbfaf4,  #ece8e6);
	background: linear-gradient(top,  #fbfaf4,  #ece8e6);
	-pie-background: linear-gradient(top,  #fbfaf4,  #ece8e6);
	border: 1px solid #dcd9d8;
	border-bottom: 1px solid #c1c1bd;
	border-right: 1px solid #dcd9d8;
	-webkit-box-shadow:  0 1px 1px #cac5c0;
	-moz-box-shadow:  0 1px 1px #cac5c0;
	box-shadow:  0 1px 1px #cac5c0;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;	
	behavior: url(PIE.htc);
}

#back a:hover, #back a:active, #back a.on {
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-shadow: #a6ff00 0 0 5px;
	background: #e5e4e0;
	-pie-background: #e5e4e0;
	border: 1px solid #b2b2b1;
	border-bottom: 1px solid #dbd9d7;
	border-right: none;
	box-shadow: 0 0 5px #cac8c5 inset;
	behavior: url(PIE,htc);
}